@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: black;
  background:white;
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* color variants */
.primary-orange{
  color:#FFCE8A;
} 

.primary-red{
  color: #F15E50;
}

.neutral-white {
  color: #FFFDFA;
}
.neutral-light-blue {
  color: #C5C6CE;
}

.neutral-blue {
  color: #5D5F79;
}

.neutral-dark-blue {
  color: #00001A;
}

